<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hospitalward.mapper.auto.AccountMapper">
  <resultMap id="BaseResultMap" type="com.example.hospitalward.model.Account">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="deposit" jdbcType="DECIMAL" property="deposit" />
    <result column="payer" jdbcType="VARCHAR" property="payer" />
    <result column="pay_date" jdbcType="DATE" property="payDate" />
    <result column="daily_consumption" jdbcType="DECIMAL" property="dailyConsumption" />
    <result column="medicines_consumption" jdbcType="DECIMAL" property="medicinesConsumption" />
    <result column="payment" jdbcType="VARCHAR" property="payment" />
    <result column="complement" jdbcType="DECIMAL" property="complement" />
    <result column="complement_date" jdbcType="DATE" property="complementDate" />
    <result column="patient_id" jdbcType="BIGINT" property="patientId" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="create_staff" jdbcType="BIGINT" property="createStaff" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, deposit, payer, pay_date, daily_consumption, medicines_consumption, payment, 
    complement, complement_date, patient_id, is_deleted, create_date, update_date, create_staff
  </sql>
  <select id="selectByExample" parameterType="com.example.hospitalward.model.AccountExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from account
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from account
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from account
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.hospitalward.model.AccountExample">
    delete from account
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.hospitalward.model.Account">
    insert into account (id, deposit, payer, 
      pay_date, daily_consumption, medicines_consumption, 
      payment, complement, complement_date, 
      patient_id, is_deleted, create_date, 
      update_date, create_staff)
    values (#{id,jdbcType=BIGINT}, #{deposit,jdbcType=DECIMAL}, #{payer,jdbcType=VARCHAR}, 
      #{payDate,jdbcType=DATE}, #{dailyConsumption,jdbcType=DECIMAL}, #{medicinesConsumption,jdbcType=DECIMAL}, 
      #{payment,jdbcType=VARCHAR}, #{complement,jdbcType=DECIMAL}, #{complementDate,jdbcType=DATE}, 
      #{patientId,jdbcType=BIGINT}, #{isDeleted,jdbcType=BIT}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{createStaff,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.example.hospitalward.model.Account">
    insert into account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deposit != null">
        deposit,
      </if>
      <if test="payer != null">
        payer,
      </if>
      <if test="payDate != null">
        pay_date,
      </if>
      <if test="dailyConsumption != null">
        daily_consumption,
      </if>
      <if test="medicinesConsumption != null">
        medicines_consumption,
      </if>
      <if test="payment != null">
        payment,
      </if>
      <if test="complement != null">
        complement,
      </if>
      <if test="complementDate != null">
        complement_date,
      </if>
      <if test="patientId != null">
        patient_id,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="createStaff != null">
        create_staff,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="deposit != null">
        #{deposit,jdbcType=DECIMAL},
      </if>
      <if test="payer != null">
        #{payer,jdbcType=VARCHAR},
      </if>
      <if test="payDate != null">
        #{payDate,jdbcType=DATE},
      </if>
      <if test="dailyConsumption != null">
        #{dailyConsumption,jdbcType=DECIMAL},
      </if>
      <if test="medicinesConsumption != null">
        #{medicinesConsumption,jdbcType=DECIMAL},
      </if>
      <if test="payment != null">
        #{payment,jdbcType=VARCHAR},
      </if>
      <if test="complement != null">
        #{complement,jdbcType=DECIMAL},
      </if>
      <if test="complementDate != null">
        #{complementDate,jdbcType=DATE},
      </if>
      <if test="patientId != null">
        #{patientId,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null">
        #{createStaff,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.hospitalward.model.AccountExample" resultType="java.lang.Long">
    select count(*) from account
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update account
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.deposit != null">
        deposit = #{record.deposit,jdbcType=DECIMAL},
      </if>
      <if test="record.payer != null">
        payer = #{record.payer,jdbcType=VARCHAR},
      </if>
      <if test="record.payDate != null">
        pay_date = #{record.payDate,jdbcType=DATE},
      </if>
      <if test="record.dailyConsumption != null">
        daily_consumption = #{record.dailyConsumption,jdbcType=DECIMAL},
      </if>
      <if test="record.medicinesConsumption != null">
        medicines_consumption = #{record.medicinesConsumption,jdbcType=DECIMAL},
      </if>
      <if test="record.payment != null">
        payment = #{record.payment,jdbcType=VARCHAR},
      </if>
      <if test="record.complement != null">
        complement = #{record.complement,jdbcType=DECIMAL},
      </if>
      <if test="record.complementDate != null">
        complement_date = #{record.complementDate,jdbcType=DATE},
      </if>
      <if test="record.patientId != null">
        patient_id = #{record.patientId,jdbcType=BIGINT},
      </if>
      <if test="record.isDeleted != null">
        is_deleted = #{record.isDeleted,jdbcType=BIT},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null">
        create_staff = #{record.createStaff,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update account
    set id = #{record.id,jdbcType=BIGINT},
      deposit = #{record.deposit,jdbcType=DECIMAL},
      payer = #{record.payer,jdbcType=VARCHAR},
      pay_date = #{record.payDate,jdbcType=DATE},
      daily_consumption = #{record.dailyConsumption,jdbcType=DECIMAL},
      medicines_consumption = #{record.medicinesConsumption,jdbcType=DECIMAL},
      payment = #{record.payment,jdbcType=VARCHAR},
      complement = #{record.complement,jdbcType=DECIMAL},
      complement_date = #{record.complementDate,jdbcType=DATE},
      patient_id = #{record.patientId,jdbcType=BIGINT},
      is_deleted = #{record.isDeleted,jdbcType=BIT},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      create_staff = #{record.createStaff,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.hospitalward.model.Account">
    update account
    <set>
      <if test="deposit != null">
        deposit = #{deposit,jdbcType=DECIMAL},
      </if>
      <if test="payer != null">
        payer = #{payer,jdbcType=VARCHAR},
      </if>
      <if test="payDate != null">
        pay_date = #{payDate,jdbcType=DATE},
      </if>
      <if test="dailyConsumption != null">
        daily_consumption = #{dailyConsumption,jdbcType=DECIMAL},
      </if>
      <if test="medicinesConsumption != null">
        medicines_consumption = #{medicinesConsumption,jdbcType=DECIMAL},
      </if>
      <if test="payment != null">
        payment = #{payment,jdbcType=VARCHAR},
      </if>
      <if test="complement != null">
        complement = #{complement,jdbcType=DECIMAL},
      </if>
      <if test="complementDate != null">
        complement_date = #{complementDate,jdbcType=DATE},
      </if>
      <if test="patientId != null">
        patient_id = #{patientId,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null">
        create_staff = #{createStaff,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.hospitalward.model.Account">
    update account
    set deposit = #{deposit,jdbcType=DECIMAL},
      payer = #{payer,jdbcType=VARCHAR},
      pay_date = #{payDate,jdbcType=DATE},
      daily_consumption = #{dailyConsumption,jdbcType=DECIMAL},
      medicines_consumption = #{medicinesConsumption,jdbcType=DECIMAL},
      payment = #{payment,jdbcType=VARCHAR},
      complement = #{complement,jdbcType=DECIMAL},
      complement_date = #{complementDate,jdbcType=DATE},
      patient_id = #{patientId,jdbcType=BIGINT},
      is_deleted = #{isDeleted,jdbcType=BIT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      create_staff = #{createStaff,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>