<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hospitalward.mapper.auto.PatientMapper">
  <resultMap id="BaseResultMap" type="com.example.hospitalward.model.Patient">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="national" jdbcType="VARCHAR" property="national" />
    <result column="education" jdbcType="VARCHAR" property="education" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="card_id" jdbcType="VARCHAR" property="cardId" />
    <result column="bed_id" jdbcType="BIGINT" property="bedId" />
    <result column="staff_id" jdbcType="BIGINT" property="staffId" />
    <result column="rname" jdbcType="VARCHAR" property="rname" />
    <result column="rsex" jdbcType="INTEGER" property="rsex" />
    <result column="rphone" jdbcType="VARCHAR" property="rphone" />
    <result column="raddress" jdbcType="VARCHAR" property="raddress" />
    <result column="rcard_id" jdbcType="VARCHAR" property="rcardId" />
    <result column="rwork" jdbcType="VARCHAR" property="rwork" />
    <result column="relation" jdbcType="VARCHAR" property="relation" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="on_here" jdbcType="BIT" property="onHere" />
    <result column="in_date" jdbcType="DATE" property="inDate" />
    <result column="leave_date" jdbcType="DATE" property="leaveDate" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="create_staff" jdbcType="BIGINT" property="createStaff" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, sex, national, education, address, card_id, bed_id, staff_id, rname, rsex, 
    rphone, raddress, rcard_id, rwork, relation, photo, on_here, in_date, leave_date, 
    is_deleted, create_date, update_date, create_staff
  </sql>
  <select id="selectByExample" parameterType="com.example.hospitalward.model.PatientExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from patient
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from patient
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from patient
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.hospitalward.model.PatientExample">
    delete from patient
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.hospitalward.model.Patient">
    insert into patient (id, name, sex, 
      national, education, address, 
      card_id, bed_id, staff_id, 
      rname, rsex, rphone, 
      raddress, rcard_id, rwork, 
      relation, photo, on_here, 
      in_date, leave_date, is_deleted, 
      create_date, update_date, create_staff
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, 
      #{national,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{cardId,jdbcType=VARCHAR}, #{bedId,jdbcType=BIGINT}, #{staffId,jdbcType=BIGINT}, 
      #{rname,jdbcType=VARCHAR}, #{rsex,jdbcType=INTEGER}, #{rphone,jdbcType=VARCHAR}, 
      #{raddress,jdbcType=VARCHAR}, #{rcardId,jdbcType=VARCHAR}, #{rwork,jdbcType=VARCHAR}, 
      #{relation,jdbcType=VARCHAR}, #{photo,jdbcType=VARCHAR}, #{onHere,jdbcType=BIT}, 
      #{inDate,jdbcType=DATE}, #{leaveDate,jdbcType=DATE}, #{isDeleted,jdbcType=BIT}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{createStaff,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.hospitalward.model.Patient">
    insert into patient
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="national != null">
        national,
      </if>
      <if test="education != null">
        education,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="cardId != null">
        card_id,
      </if>
      <if test="bedId != null">
        bed_id,
      </if>
      <if test="staffId != null">
        staff_id,
      </if>
      <if test="rname != null">
        rname,
      </if>
      <if test="rsex != null">
        rsex,
      </if>
      <if test="rphone != null">
        rphone,
      </if>
      <if test="raddress != null">
        raddress,
      </if>
      <if test="rcardId != null">
        rcard_id,
      </if>
      <if test="rwork != null">
        rwork,
      </if>
      <if test="relation != null">
        relation,
      </if>
      <if test="photo != null">
        photo,
      </if>
      <if test="onHere != null">
        on_here,
      </if>
      <if test="inDate != null">
        in_date,
      </if>
      <if test="leaveDate != null">
        leave_date,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="createStaff != null">
        create_staff,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="national != null">
        #{national,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="cardId != null">
        #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="bedId != null">
        #{bedId,jdbcType=BIGINT},
      </if>
      <if test="staffId != null">
        #{staffId,jdbcType=BIGINT},
      </if>
      <if test="rname != null">
        #{rname,jdbcType=VARCHAR},
      </if>
      <if test="rsex != null">
        #{rsex,jdbcType=INTEGER},
      </if>
      <if test="rphone != null">
        #{rphone,jdbcType=VARCHAR},
      </if>
      <if test="raddress != null">
        #{raddress,jdbcType=VARCHAR},
      </if>
      <if test="rcardId != null">
        #{rcardId,jdbcType=VARCHAR},
      </if>
      <if test="rwork != null">
        #{rwork,jdbcType=VARCHAR},
      </if>
      <if test="relation != null">
        #{relation,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="onHere != null">
        #{onHere,jdbcType=BIT},
      </if>
      <if test="inDate != null">
        #{inDate,jdbcType=DATE},
      </if>
      <if test="leaveDate != null">
        #{leaveDate,jdbcType=DATE},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null">
        #{createStaff,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.hospitalward.model.PatientExample" resultType="java.lang.Long">
    select count(*) from patient
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update patient
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        sex = #{record.sex,jdbcType=INTEGER},
      </if>
      <if test="record.national != null">
        national = #{record.national,jdbcType=VARCHAR},
      </if>
      <if test="record.education != null">
        education = #{record.education,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.cardId != null">
        card_id = #{record.cardId,jdbcType=VARCHAR},
      </if>
      <if test="record.bedId != null">
        bed_id = #{record.bedId,jdbcType=BIGINT},
      </if>
      <if test="record.staffId != null">
        staff_id = #{record.staffId,jdbcType=BIGINT},
      </if>
      <if test="record.rname != null">
        rname = #{record.rname,jdbcType=VARCHAR},
      </if>
      <if test="record.rsex != null">
        rsex = #{record.rsex,jdbcType=INTEGER},
      </if>
      <if test="record.rphone != null">
        rphone = #{record.rphone,jdbcType=VARCHAR},
      </if>
      <if test="record.raddress != null">
        raddress = #{record.raddress,jdbcType=VARCHAR},
      </if>
      <if test="record.rcardId != null">
        rcard_id = #{record.rcardId,jdbcType=VARCHAR},
      </if>
      <if test="record.rwork != null">
        rwork = #{record.rwork,jdbcType=VARCHAR},
      </if>
      <if test="record.relation != null">
        relation = #{record.relation,jdbcType=VARCHAR},
      </if>
      <if test="record.photo != null">
        photo = #{record.photo,jdbcType=VARCHAR},
      </if>
      <if test="record.onHere != null">
        on_here = #{record.onHere,jdbcType=BIT},
      </if>
      <if test="record.inDate != null">
        in_date = #{record.inDate,jdbcType=DATE},
      </if>
      <if test="record.leaveDate != null">
        leave_date = #{record.leaveDate,jdbcType=DATE},
      </if>
      <if test="record.isDeleted != null">
        is_deleted = #{record.isDeleted,jdbcType=BIT},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStaff != null">
        create_staff = #{record.createStaff,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update patient
    set id = #{record.id,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=INTEGER},
      national = #{record.national,jdbcType=VARCHAR},
      education = #{record.education,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      card_id = #{record.cardId,jdbcType=VARCHAR},
      bed_id = #{record.bedId,jdbcType=BIGINT},
      staff_id = #{record.staffId,jdbcType=BIGINT},
      rname = #{record.rname,jdbcType=VARCHAR},
      rsex = #{record.rsex,jdbcType=INTEGER},
      rphone = #{record.rphone,jdbcType=VARCHAR},
      raddress = #{record.raddress,jdbcType=VARCHAR},
      rcard_id = #{record.rcardId,jdbcType=VARCHAR},
      rwork = #{record.rwork,jdbcType=VARCHAR},
      relation = #{record.relation,jdbcType=VARCHAR},
      photo = #{record.photo,jdbcType=VARCHAR},
      on_here = #{record.onHere,jdbcType=BIT},
      in_date = #{record.inDate,jdbcType=DATE},
      leave_date = #{record.leaveDate,jdbcType=DATE},
      is_deleted = #{record.isDeleted,jdbcType=BIT},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      create_staff = #{record.createStaff,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.hospitalward.model.Patient">
    update patient
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="national != null">
        national = #{national,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="cardId != null">
        card_id = #{cardId,jdbcType=VARCHAR},
      </if>
      <if test="bedId != null">
        bed_id = #{bedId,jdbcType=BIGINT},
      </if>
      <if test="staffId != null">
        staff_id = #{staffId,jdbcType=BIGINT},
      </if>
      <if test="rname != null">
        rname = #{rname,jdbcType=VARCHAR},
      </if>
      <if test="rsex != null">
        rsex = #{rsex,jdbcType=INTEGER},
      </if>
      <if test="rphone != null">
        rphone = #{rphone,jdbcType=VARCHAR},
      </if>
      <if test="raddress != null">
        raddress = #{raddress,jdbcType=VARCHAR},
      </if>
      <if test="rcardId != null">
        rcard_id = #{rcardId,jdbcType=VARCHAR},
      </if>
      <if test="rwork != null">
        rwork = #{rwork,jdbcType=VARCHAR},
      </if>
      <if test="relation != null">
        relation = #{relation,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="onHere != null">
        on_here = #{onHere,jdbcType=BIT},
      </if>
      <if test="inDate != null">
        in_date = #{inDate,jdbcType=DATE},
      </if>
      <if test="leaveDate != null">
        leave_date = #{leaveDate,jdbcType=DATE},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createStaff != null">
        create_staff = #{createStaff,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.hospitalward.model.Patient">
    update patient
    set name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      national = #{national,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      card_id = #{cardId,jdbcType=VARCHAR},
      bed_id = #{bedId,jdbcType=BIGINT},
      staff_id = #{staffId,jdbcType=BIGINT},
      rname = #{rname,jdbcType=VARCHAR},
      rsex = #{rsex,jdbcType=INTEGER},
      rphone = #{rphone,jdbcType=VARCHAR},
      raddress = #{raddress,jdbcType=VARCHAR},
      rcard_id = #{rcardId,jdbcType=VARCHAR},
      rwork = #{rwork,jdbcType=VARCHAR},
      relation = #{relation,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR},
      on_here = #{onHere,jdbcType=BIT},
      in_date = #{inDate,jdbcType=DATE},
      leave_date = #{leaveDate,jdbcType=DATE},
      is_deleted = #{isDeleted,jdbcType=BIT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      create_staff = #{createStaff,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>